<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>FYS-Sample</title>
</head>
<body style="height: calc(100vh);">
    <canvas class="absolute" id="canvas"></canvas>
    <div class="max-w-full flex flex-col h-full">
        <div class="items-start justify-center flex flex-row w-full h-fit p-4">
            <h1 class="text-2xl font-bold">FYS-Sample</h1>
        </div>
        <div class="w-full h-full grid grid-rows-2 grid-cols-3">
            <div class="flex items-center justify-center">
                <div class="h-fit w-fit flex">
                    <a href="/frankenstein" class="w-full h-full hover:scale-110 transform transition-all">
                        <img src="/imgs/frankenstein.jpg" alt="frankenstein" class="h-80 rounded drop-shadow-lg">
                    </a>
                </div>
            </div>
            <div class="flex items-center justify-center">
                <div class="h-fit w-fit flex">
                    <a href="/yellowwallpaper" class="w-full h-full hover:scale-110 transform transition-all">
                        <img src="/imgs/yellowwallpaper.jpg" alt="yellowwallpaper" class="h-80 rounded drop-shadow-lg">
                    </a>
                </div>
            </div>
            <div class="flex items-center justify-center">
                <div class="h-fit w-fit flex">
                    <a href="/desireesbaby" class="w-full h-full hover:scale-110 transform transition-all">
                        <img src="/imgs/desireesbaby.jpg" alt="desireesbaby" class="h-80 rounded drop-shadow-lg">
                    </a>
                </div>
            </div>
            <div class="flex items-center justify-center">
                <div class="h-fit w-fit flex">
                    <a href="/magoun" class="w-full h-full hover:scale-110 transform transition-all">
                        <img src="/imgs/magoun.jpg" alt="magoun" class="h-80 rounded drop-shadow-lg">
                    </a>
                </div>
            </div>
            <div class="flex items-center justify-center">
                <div class="h-fit w-fit flex">
                    <a href="/afterward" class="w-full h-full hover:scale-110 transform transition-all">
                        <img src="/imgs/afterward.jpg" alt="afterward" class="h-80 rounded drop-shadow-lg">
                    </a>
                </div>
            </div>
            <div class="flex items-center justify-center">
                <div class="h-fit w-fit flex">
                    <a href="/beloved" class="w-full h-full hover:scale-110 transform transition-all">
                        <img src="/imgs/beloved.jpg" alt="beloved" class="h-80 rounded drop-shadow-lg">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/home.js"></script>
</body>
</html>